<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
    <a href="{{ site.baseurl }}/">
      <!-- <img class="avatar" style="display: block; max-width: 40%; width: auto; " src="{{site.baseurl}}/assets/images/mavis_logo_square.png" alt=""/> -->
			<!-- <img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/> -->
      <img class="avatar" style="display: block; width: auto; height:32pt; " src="{{site.baseurl}}/assets/img/g2289.png" alt=""/>
		</a>

		<!-- <h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1> -->
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <p style="text-align: right;">
      {% for page in site.pages %}
      {% if page.title and page.hide != true %}
      <a href="{{ page.url | relative_url }}">
        {{ page.title }}
      </a> &nbsp;✪&nbsp;
      {% endif %}
      {% endfor %}
      {% if site.theme_settings.search %}
      <a href="{{ site.url }}{{ site.baseurl }}/search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </a>&nbsp;
      {% endif %}
      {% if site.theme_settings.tags %}
      <a href="{{ site.url }}{{ site.baseurl }}/tags">
        <i class="fa fa-tags" aria-hidden="true"></i>
      </a>
      {% endif %}
    </p>
	</nav>
</header>
