#main {
  padding-top: 40px;
}

ol {
  width: 100%;
  padding: 0 0 0 0; 
  margin: 0 0 0 0;
  list-style: none;
  counter-reset: my-awesome-counter;
}
ul {
  width: 100%;
  padding: 0 0 0 0; 
  margin: 0 0 0 0;
  list-style: none;
}
li {
  text-indent: -1.90em; 
  margin: 0.1em 0.5em 0.3em 1.90em;
}
ul li:before {
  content: "⏺"; /* Insert content that looks like bullets */
  /* margin-right: 12px; */
  padding-right: 1em;
  color: rgb(192, 69, 69); /* Or a color you prefer */
  font-size: 14px;
}
ol li:before {
  padding-right: 0.8em;
  /* color: rgb(192, 69, 69); Or a color you prefer */
  /* font-size: 120px; */
}

ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: rgb(192, 69, 69);
  font-weight: bold;
}


h1 {
  font-size: 50px;
  font-family: "Alegreya Sans SC";
  padding: 0em 0 0em 0;
}

h2 {
  font-family: "Alegreya Sans SC";
  font-size: 32px;
  padding: 0.6em 0 0 0;
}

h3 {
  font-family: "Alegreya Sans SC";
  font-size: 26px;
  padding: 0.2em 0 0 0;
}

h4 {
  font-family: "Alegreya Sans SC";
  font-size: 20px;
  padding: 0.2em 0 0 0;
}

p { 
  margin-bottom: 0.4em;
}

img.sticky {
  position: -webkit-sticky;
  transform: scale(0.6);
  position: sticky;
  /* position: fixed; */
  top: 2em;
  /* left: -10%; */
}